spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/identity_db
    username: identity
    password: identity
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 9000
